/*body {
  text-align: center;
  font-family: courier;
  background-image: url("../assets/image.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

body{
  background:lightgoldenrodyellow;
  margin:0;padding:0;
}
.paper{
  margin:20px auto;
  background:rgba(255,255,255,.9);
  width:600px;
  height:700px;
   box-shadow: 0px 0px 5px 0px #888;
  position:relative;
  display:block

}
.paper::before {
  content: '';
  position: absolute;
  left: 45px;
  top:1%;
  height: 98%;
  width: 2px;
  background: rgba(0,0,0,0.4);
  box-shadow: -5px 0 0 rgba(0,0,0,0.4);

}

.title{
  font-size:20px;
  font-weight:bolder;
  position:absolute;
  top:65px;
  left:50%;
  width:50%;
  background : transperant;
  text-align:center;
  transform: translatex(-47%)

}
.contentHolder{
  width:80%;
  position:absolute;
  top:120px;
  left:15%;
}
.signaturecontainer{
  position:absolute;
  bottom:310px;
  left:100px;
  overflow:hidden;
  height:100px;
  width:250px;
  border-bottom: black dotted 3px;
}
.sigsvg{
/* border:black solid 1px;*/
/*}
.signature {
  fill: none;
  stroke-dasharray: 2500;
  stroke-dashoffset: 2500;
  stroke: #737373;
  stroke-width: 2;
  animation: sign 3s linear infinite ;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
